.shapka {
    background-color: #003d66;
    vertical-align: middle;
    width: 100%
}

.zagolovok {
    color: #87bcf8;
    font-family: Monotype Corsiva;
    text-align: center;
    font-size: 36px;
    margin: 10px 0 0;
}

.fon {
    background-image: url("../img/fon.gif");

}

.sidebar {
    background-color: #003d66;
    vertical-align: top;
    padding: 20px;
    color: #87bcf8;
    font-size: 22px;
    height: 100%;
    width: 20%
}

.main {
    background-color: #87bcf8;
    vertical-align: top;
    padding: 10px;
    color: #003d66;
    text-align: justify;
    text-indent: 15px;
    font-size: 20px;
    height: 100%;
    width: 80%
}

.footer {
    background-color: #003d66;
    color: #87bcf8;
    font-size: 12px;
    font-style: italic;
    padding-right: 20px;
    padding-left: 20px;
    vertical-align: middle;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a {
    color: #87bcf8;
    text-decoration: none;
}